.burgr {
  position: relative;
  background-color: #999; }
  .burgr .burgr-part {
    position: absolute;
    background-color: #333; }

.burgr {
  width: 40px;
  height: 23px; }
  .burgr:hover .burgr-part:nth-child(1), .burgr:hover .burgr-part:nth-child(2), .burgr:hover .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(0) rotate(0deg);
    width: 40px;
    opacity: 1; }
  .burgr .burgr-part:nth-child(1), .burgr .burgr-part:nth-child(2), .burgr .burgr-part:nth-child(3) {
    opacity: 1; }
  .burgr .burgr-part:nth-child(1) {
    transform: scaleX(1) scaleY(1) translateX(calc(-50% - 2px)) translateY(0) rotate(0deg);
    width: 36px; }
  .burgr .burgr-part:nth-child(2) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(0) rotate(0deg);
    width: 40px; }
  .burgr .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(calc(-50% - 4px)) translateY(0) rotate(0deg);
    width: 32px; }
  .burgr .burgr-part {
    transition: 300ms;
    left: 20px;
    opacity: 1;
    height: 5px;
    width: 40px; }
    .burgr .burgr-part:nth-child(2) {
      top: 9px; }
    .burgr .burgr-part:nth-child(3) {
      top: 18px; }

.burgr.burgr-clasic {
  width: 40px;
  height: 23px; }
  .burgr.burgr-clasic .burgr-part:nth-child(1), .burgr.burgr-clasic .burgr-part:nth-child(2), .burgr.burgr-clasic .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(0) rotate(0deg);
    width: 40px;
    opacity: 1; }
  .burgr.burgr-clasic .burgr-part {
    transition: 300ms;
    left: 20px;
    opacity: 1;
    height: 5px;
    width: 40px; }
    .burgr.burgr-clasic .burgr-part:nth-child(2) {
      top: 9px; }
    .burgr.burgr-clasic .burgr-part:nth-child(3) {
      top: 18px; }

.burgr.burgr-cross {
  width: 40px;
  height: 23px; }
  .burgr.burgr-cross:hover .burgr-part:nth-child(1), .burgr.burgr-cross:hover .burgr-part:nth-child(2), .burgr.burgr-cross:hover .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(0) rotate(0deg);
    width: 40px;
    opacity: 1; }
  .burgr.burgr-cross .burgr-part:nth-child(1) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(9px) rotate(45deg);
    width: 27.5269119346px; }
  .burgr.burgr-cross .burgr-part:nth-child(2) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(0) rotate(-45deg);
    width: 27.5269119346px; }
  .burgr.burgr-cross .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(5px) rotate(0deg);
    opacity: 0;
    pointer-events: none; }
  .burgr.burgr-cross .burgr-part {
    transition: 300ms;
    left: 20px;
    opacity: 1;
    height: 5px;
    width: 40px; }
    .burgr.burgr-cross .burgr-part:nth-child(2) {
      top: 9px; }
    .burgr.burgr-cross .burgr-part:nth-child(3) {
      top: 18px; }

.burgr.burgr-left {
  width: 40px;
  height: 23px; }
  .burgr.burgr-left:hover .burgr-part:nth-child(1), .burgr.burgr-left:hover .burgr-part:nth-child(2), .burgr.burgr-left:hover .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(0) rotate(0deg);
    width: 40px;
    opacity: 1; }
  .burgr.burgr-left .burgr-part:nth-child(1) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(5.017766953px) rotate(-45deg);
    width: 16.2634559673px; }
  .burgr.burgr-left .burgr-part:nth-child(2) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(3.982233047px) rotate(45deg);
    width: 16.2634559673px; }
  .burgr.burgr-left .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(5px) rotate(0);
    opacity: 0;
    pointer-events: none; }
  .burgr.burgr-left .burgr-part {
    transition: 300ms;
    left: 20px;
    opacity: 1;
    height: 5px;
    width: 40px; }
    .burgr.burgr-left .burgr-part:nth-child(2) {
      top: 9px; }
    .burgr.burgr-left .burgr-part:nth-child(3) {
      top: 18px; }

.burgr.burgr-right {
  width: 40px;
  height: 23px; }
  .burgr.burgr-right:hover .burgr-part:nth-child(1), .burgr.burgr-right:hover .burgr-part:nth-child(2), .burgr.burgr-right:hover .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(0) rotate(0deg);
    width: 40px;
    opacity: 1; }
  .burgr.burgr-right .burgr-part:nth-child(1) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(5.017766953px) rotate(45deg);
    width: 16.2634559673px; }
  .burgr.burgr-right .burgr-part:nth-child(2) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(3.982233047px) rotate(-45deg);
    width: 16.2634559673px; }
  .burgr.burgr-right .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(5px) rotate(0);
    opacity: 0;
    pointer-events: none; }
  .burgr.burgr-right .burgr-part {
    transition: 300ms;
    left: 20px;
    opacity: 1;
    height: 5px;
    width: 40px; }
    .burgr.burgr-right .burgr-part:nth-child(2) {
      top: 9px; }
    .burgr.burgr-right .burgr-part:nth-child(3) {
      top: 18px; }

.burgr.burgr-top {
  width: 40px;
  height: 23px; }
  .burgr.burgr-top:hover .burgr-part:nth-child(1), .burgr.burgr-top:hover .burgr-part:nth-child(2), .burgr.burgr-top:hover .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(0) rotate(0deg);
    width: 40px;
    opacity: 1; }
  .burgr.burgr-top .burgr-part:nth-child(1) {
    transform: scaleX(1) scaleY(1) translateX(calc(-50% + 3.982233047px)) translateY(9px) rotate(45deg);
    width: 16.2634559673px; }
  .burgr.burgr-top .burgr-part:nth-child(2) {
    transform: scaleX(1) scaleY(1) translateX(calc(-50% - 3.982233047px)) translateY(0) rotate(-45deg);
    width: 16.2634559673px; }
  .burgr.burgr-top .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(5px) rotate(0);
    opacity: 0;
    pointer-events: none; }
  .burgr.burgr-top .burgr-part {
    transition: 300ms;
    left: 20px;
    opacity: 1;
    height: 5px;
    width: 40px; }
    .burgr.burgr-top .burgr-part:nth-child(2) {
      top: 9px; }
    .burgr.burgr-top .burgr-part:nth-child(3) {
      top: 18px; }

.burgr.burgr-bottom {
  width: 40px;
  height: 23px; }
  .burgr.burgr-bottom:hover .burgr-part:nth-child(1), .burgr.burgr-bottom:hover .burgr-part:nth-child(2), .burgr.burgr-bottom:hover .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(0) rotate(0deg);
    width: 40px;
    opacity: 1; }
  .burgr.burgr-bottom .burgr-part:nth-child(1) {
    transform: scaleX(1) scaleY(1) translateX(calc(-50% + 3.982233047px)) translateY(9px) rotate(-45deg);
    width: 16.2634559673px; }
  .burgr.burgr-bottom .burgr-part:nth-child(2) {
    transform: scaleX(1) scaleY(1) translateX(calc(-50% - 3.982233047px)) translateY(0) rotate(45deg);
    width: 16.2634559673px; }
  .burgr.burgr-bottom .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(5px) rotate(0);
    opacity: 0;
    pointer-events: none; }
  .burgr.burgr-bottom .burgr-part {
    transition: 300ms;
    left: 20px;
    opacity: 1;
    height: 5px;
    width: 40px; }
    .burgr.burgr-bottom .burgr-part:nth-child(2) {
      top: 9px; }
    .burgr.burgr-bottom .burgr-part:nth-child(3) {
      top: 18px; }

.burgr.burgr-vertical-points {
  width: 40px;
  height: 23px; }
  .burgr.burgr-vertical-points:hover .burgr-part:nth-child(1), .burgr.burgr-vertical-points:hover .burgr-part:nth-child(2), .burgr.burgr-vertical-points:hover .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(0) rotate(0deg);
    width: 40px;
    opacity: 1; }
  .burgr.burgr-vertical-points .burgr-part:nth-child(1), .burgr.burgr-vertical-points .burgr-part:nth-child(2), .burgr.burgr-vertical-points .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(0) rotate(0deg);
    width: 5px;
    opacity: 1; }
  .burgr.burgr-vertical-points .burgr-part {
    transition: 300ms;
    left: 20px;
    opacity: 1;
    height: 5px;
    width: 40px; }
    .burgr.burgr-vertical-points .burgr-part:nth-child(2) {
      top: 9px; }
    .burgr.burgr-vertical-points .burgr-part:nth-child(3) {
      top: 18px; }

.burgr.burgr-horizontal-points {
  width: 40px;
  height: 23px; }
  .burgr.burgr-horizontal-points:hover .burgr-part:nth-child(1), .burgr.burgr-horizontal-points:hover .burgr-part:nth-child(2), .burgr.burgr-horizontal-points:hover .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(0) rotate(0deg);
    width: 40px;
    opacity: 1; }
  .burgr.burgr-horizontal-points .burgr-part:nth-child(1), .burgr.burgr-horizontal-points .burgr-part:nth-child(2), .burgr.burgr-horizontal-points .burgr-part:nth-child(3) {
    width: 5px;
    opacity: 1; }
  .burgr.burgr-horizontal-points .burgr-part:nth-child(1) {
    transform: scaleX(1) scaleY(1) translateX(calc(-50% - 9px)) translateY(9px) rotate(0deg); }
  .burgr.burgr-horizontal-points .burgr-part:nth-child(2) {
    transform: scaleX(1) scaleY(1) translateX(-50%) translateY(0) rotate(0deg); }
  .burgr.burgr-horizontal-points .burgr-part:nth-child(3) {
    transform: scaleX(1) scaleY(1) translateX(calc(-50% + 9px)) translateY(-9px) rotate(0deg); }
  .burgr.burgr-horizontal-points .burgr-part {
    transition: 300ms;
    left: 20px;
    opacity: 1;
    height: 5px;
    width: 40px; }
    .burgr.burgr-horizontal-points .burgr-part:nth-child(2) {
      top: 9px; }
    .burgr.burgr-horizontal-points .burgr-part:nth-child(3) {
      top: 18px; }

body {
  overflow-x: hidden; }

.burgr-container {
  cursor: pointer;
  display: inline-block;
  background-color: #999;
  padding: 10px;
  margin-right: 100vw; }

.burgr-part {
  transition: 300ms; }

/*# sourceMappingURL=main.css.map */
